@use "../abstracts";

.header {
    background: #222842;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
}

.header-form {
    width: 356px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: #fff;
    border-radius: 99px;

    &__input {
        width: 90%;

        &::placeholder {
            font-size: 1.6rem;
        }
    }
}

.navbar {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        padding: 5px 15px;
    }

    &__item:first-child {
        padding-left: 0;
    }

    &__item:last-child {
        padding-right: 0;
    }

    &__link {
        color: #fff;
        transition: 0.25s;
    }

    &__link:hover {
        color: #dcb473;
    }
}
