<div class="container">
    <div class="footer__top">
        <div class="footer-wrap">
            <h3 class="footer-wrap__title">Liên hệ</h3>
            <ul class="footer-wrap__list">
                <li class="footer-wrap__item">Địa chỉ:</li>
                <li class="footer-wrap__item">Số điện thoại:</li>
            </ul>
        </div>

        <div class="footer-wrap">
            <h3 class="footer-wrap__title">Liên kết</h3>
            <ul class="footer-wrap__list">
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link">Trang chủ</a>
                </li>
                <li class="footer-wrap__separate"></li>
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link">Giới thiệu</a>
                </li>
                <li class="footer-wrap__separate"></li>
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link">Dự án</a>
                </li>
                <li class="footer-wrap__separate"></li>
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link">Liên hệ</a>
                </li>
            </ul>
        </div>

        <div class="footer-wrap">
            <h3 class="footer-wrap__title">Chúng tôi có thể giúp bạn</h3>
            <form action="" class="footer-form">
                <input
                    type="text"
                    name="fullName"
                    id="fullname"
                    class="footer-form__input"
                    placeholder="Tên khách hàng"
                    autofocus
                    required
                />
                <input
                    type="tel"
                    name="phoneNumber"
                    id="phoneNumber"
                    class="footer-form__input"
                    pattern="(?:7|0|(?:\+84))[0-9]{10}$"
                    placeholder="Số điện thoại liên hệ"
                    autofocus
                    required
                />
                <input
                    type="email"
                    name="email"
                    id="email"
                    class="footer-form__input"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    placeholder="Email khách hàng"
                    autofocus
                    required
                />
                <textarea
                    class="footer-form__textarea"
                    name=""
                    id=""
                    placeholder="Thông tin dự án, diện tích, phong cách, ..."
                    autofocus
                    required
                    maxlength="500"
                ></textarea>
                <button class="footer-form__btn">Đăng ký tư vấn</button>
            </form>
        </div>

        <div class="footer-wrap">
            <h3 class="footer-wrap__title">Theo dõi chúng tôi</h3>
            <ul class="footer-wrap__icons">
                <li class="footer-wrap__item">
                    <a href="#!">
                        <img
                            src="../assets/icons/facebook.svg"
                            alt=""
                            class="footer-wrap__icon"
                        />
                    </a>
                </li>
                <li class="footer-wrap__item">
                    <a href="#!">
                        <img
                            src="../assets/icons/instagram.svg"
                            alt=""
                            class="footer-wrap__icon icon"
                        />
                    </a>
                </li>
                <li class="footer-wrap__item">
                    <a href="#!">
                        <img
                            src="../assets/icons/telegram.svg"
                            alt=""
                            class="footer-wrap__icon icon"
                        />
                    </a>
                </li>
                <li class="footer-wrap__item">
                    <a href="#!">
                        <img
                            src="../assets/icons/twitter.svg"
                            alt=""
                            class="footer-wrap__icon icon"
                        />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer__bottom">
    <div class="container">
        <div class="footer-copyright">
            <section class="footer-copyright__container">
                <p class="footer-copyright__text">© Copyright 2024</p>
                <a href="./" class="footer-copyright__link">
                    Thiết kế kiến trúc Vương Architect
                </a>
            </section>
            <section class="footer-copyright__container">
                <p class="footer-copyright__text">Thiết kế bởi</p>
                <a href="./" class="footer-copyright__link">
                    Team Daddy Thiên hạ
                </a>
            </section>
        </div>
    </div>
</div>
