<div class="container">
    <div class="header-inner">
        <!-- Logo -->
        <a href="./" class="logo">
            <img src="" alt="" class="logo__img" />
            <h1 class="logo__text">Vương Architect</h1>
        </a>

        <!-- Search -->
        <form class="header-form" action="">
            <input
                class="header-form__input"
                type="text"
                name=""
                id=""
                placeholder="Tìm kiếm mẫu nhà"
            />
            <button type="submit">
                <img
                    src="./assets/icons/search.svg"
                    alt=""
                    class="header-form__icon"
                />
            </button>
        </form>

        <!-- Navigator -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Trang chủ</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Dự án</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Thi công</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Giới thiệu</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Liên hệ</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
